<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.hygg.huyagg.mapper.CommodityMapper">
    <resultMap id="commoditiesWithClassName" type="com.ym.hygg.huyagg.pojo.Commodity">
        <id property="id" column="id"/>
        <result property="addTime" column="add_time" />
        <result property="details" column="details"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="owner" column="owner"/>
        <result property="picName" column="pic_name" />
        <association property="classifyName"  javaType="com.ym.hygg.huyagg.pojo.Classify">
            <id property="classId" column="classify"/>
            <result property="className" column="class_name"/>
        </association>
    </resultMap>
    <resultMap id="commodities" type="com.ym.hygg.huyagg.pojo.Commodity">
    <id property="id" column="id"/>
    <result property="addTime" column="add_time" />
    <result property="details" column="details"/>
    <result property="name" column="name"/>
    <result property="price" column="price"/>
    <result property="owner" column="owner"/>
    <result property="picName" column="pic_name" />
    <result property="classify" column="classify" />
    </resultMap>
    <select id="getAllCommodities" resultMap="commoditiesWithClassName">
        SELECT * FROM commodity c JOIN classify f ON c.classify = f.class_id
    </select>
    <select id="commodityWithAudited" resultMap="commoditiesWithClassName">
        SELECT * FROM commodity WHERE audit !=0
    </select>
    <insert id="save" parameterType="com.ym.hygg.huyagg.pojo.Commodity">
        INSERT INTO commodity values(null,#{addTime},#{classify},#{details},#{name},#{owner}
        ,#{picName},#{price})
    </insert>
    <update id="updateByExample" parameterType="com.ym.hygg.huyagg.pojo.Commodity">
        UPDATE commodity
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="classify!=null">
                classify = #{classify},
            </if>
            <if test="owner!=null">
                owner = #{owner},
            </if>
            <if test="picName!=null">
                pic_name = #{picName},
            </if>
            <if test="price!=null">
                price = #{price},
            </if>
            <if test="details!=null">
                details = #{details},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>