<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.hygg.huyagg.mapper.UserMapper">
   <insert id="save" parameterType="com.ym.hygg.huyagg.pojo.User">
       INSERT INTO user(academy,banji,create_time,domitory,email,major,name,password,phone,reputation,sex,state,who)
        VALUES (#{academy},#{banji},#{createTime},#{domitory},#{email},#{major},#{name},
        #{password},#{phone},#{reputation},#{sex},#{state},#{who}
       )
   </insert>
</mapper>